@font-face {
  font-family: 'Brittany Signature';
  src: url('../fonts/BrittanySignatureRegular/BrittanySignatureRegular.woff2') format('woff2'),
       url('../fonts/BrittanySignatureRegular/BrittanySignatureRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background-color: #efe1d6;
  color: #b48e12;
  font-family: 'Brittany Signature', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.nombres span {
  display: inline-block;
  white-space: nowrap;
}

.nombres span:nth-child(1),
.nombres span:nth-child(3) {
  font-size: clamp(48px, 10vw, 120px);
  color: #b48e12; /* color dorado para Briggitte y José Martin */
}

.nombres span:nth-child(2) {
  font-size: clamp(32px, 7vw, 120px);
  color: #5a3e36;
}

.texto-invitacion {
  font-family: 'Dancing Script', cursive;
  color: #8b5e66;
  font-size: clamp(20px, 8vw, 30px);
  max-width: 90%;
  margin: 1rem 0;
}

a img {
  width: 15vw;
  max-width: 150px;
  min-width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-height: 700px), (max-width: 400px) {
  .countdown-timer {
    font-size: clamp(24px, 5vw, 48px) !important;
  }
  .texto-invitacion {
    font-size: clamp(14px, 6vw, 20px) !important;
  }
  .nombres span:nth-child(1),
  .nombres span:nth-child(3) {
    font-size: clamp(24px, 8vw, 64px) !important;
  }
  .nombres span:nth-child(2) {
    font-size: clamp(18px, 6vw, 48px) !important;
  }
  a img {
    width: 10vw !important;
    max-width: 100px !important;
  }
}
