@font-face {
  font-family: 'Brittany Signature';
  src: url('../fonts/BrittanySignatureRegular/BrittanySignatureRegular.woff2') format('woff2'),
       url('../fonts/BrittanySignatureRegular/BrittanySignatureRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow: hidden;
  position: relative;
}

.fondo-boda {
  background-color: #efe1d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Brittany Signature', cursive;
  color: #5a3e36;
}

.nombres {
  font-size: clamp(48px, 10vw, 120px);
  color: #b48e12;
  font-family: 'Brittany Signature', cursive;
  white-space: nowrap;
}

.texto-invitacion1,
.texto-invitacion2,
.texto-invitacion3 {
  font-family: 'Dancing Script', cursive;
  color: #8b5e66;
  font-size: clamp(20px, 8vw, 30px);
  max-width: 90%;
  margin: 1rem 0;
}

.imagen-sobre {
  width: 25vw;
  max-width: 250px;
  min-width: 100px;
  height: auto;
  display: block;
  margin: 2rem auto 0;
}

@media (max-height: 700px), (max-width: 400px) {
  .nombres {
    font-size: clamp(24px, 8vw, 64px) !important;
  }

  .texto-invitacion1,
  .texto-invitacion2,
  .texto-invitacion3 {
    font-size: clamp(14px, 6vw, 20px) !important;
  }

  .imagen-sobre {
    width: 10vw !important;
    max-width: 100px !important;
  }
}

/* Botón de música */
.boton-musica {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: #b48e12;
  color: white;
  font-size: 1.5rem;
  padding: 0.75rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 9999;
}

.boton-musica.active {
  background-color: #8b5e66;
}
  /*fotos aleatorias*/
 .foto-aleatoria {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0; /* Detrás del contenido */
  overflow: hidden;
}

.floating-image {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  animation: floatUp linear forwards;
  animation-duration: 30s; /* 👈 ESTA LÍNEA CONTROLA LA VELOCIDAD */
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-20vh) scale(1.5);
    opacity: 0;
  }
}

